/* general
 */
:root {
  --color-secondary: rgba(12, 12, 13, 0.1);
}

h2 {
  margin: 0 0 .5em;

  font-size: 1.4em;
  font-weight: normal;
}

.btn,
input[type=text],
select {
  padding: .6em 1.2em;
  border-radius: 2px;
}

.btn,
select,
code {
  border: 0;
  background-color: var(--color-secondary);

  color: #0c0c0d;
}

.btn-primary {
  background-color: #0060df;

  color: #fff;
}

input[type=text] {
  border: 1px solid var(--color-secondary);
  background-color: #fff;
}

code {
  padding: .4em;
  border-radius: 2px;
}

/* layout
 */
settings-notification {
  display: block;
  margin-bottom: 1em;
}

settings-notification select {
  margin-left: .4em;
}

.blacklist-actions {
  margin-top: 1em;
}

.info {
  display: block;
  margin: 0 0 1em;

  color: #666;
  font-size: .9em;
}

blacklist-item {
  display: flex;
  padding-bottom: .4em;
}

blacklist-item input {
  flex: 1;
  margin-right: .4em;
}


